@model EcoShrimp.Client.Areas.Client.ViewModels.Connect.ConnectVM
<!-- Modal -->
<div class="modal fade" id="deviceModal" tabindex="-1" aria-labelledby="deviceModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deviceModalLabel">Kết nối thiết bị với Vuông/Ao</h5>
                <button type="button" class="btn-close" data-dismiss="modal" onclick="CloseModalDevice()"></button>
            </div>
            <div class="modal-body">
                <form asp-action="Connect" asp-controller="ClientHome">
                    <div class="mb-3">
                        <input type="hidden" asp-for="DeviceId" class="form-control" id="modalDeviceId" readonly>
                        <input type="hidden" asp-for="SeasonId" class="form-control" id="modalDeviceSeasonId" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="modalDeviceName" class="form-label">Tên Thiết bị</label>
                        <input type="text" class="form-control" id="modalDeviceName" readonly>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="CloseModalDevice()">Hủy</button>
                        <button type="submit" class="btn btn-primary">Kết nối</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function CloseModalDevice() {
        $('#deviceModal').modal('hide');
    }
</script>