@model EcoShrimp.Client.Areas.Client.ViewModels.Season.SeasonVM


<div class="modal fade" id="CreateSeason" tabindex="-1" role="dialog" aria-labelledby="CreateSeasonLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content" style="width: 700px">
			<form asp-action="Create" asp-controller="ClientSeason" id="CreateSeasonForm" method="post">
				<div class="modal-header">
					<h4 class="modal-title fs-6" id="CreateSeasonLabel">Thêm mới mùa vụ</h4>
					<button type="button" class="close" onclick="CloseModalCreateSeason()">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" style="padding-top: 0px">
					<div class="row">
						<div class="col-12 d-flex justify-content-end" style="margin-top: 7px">
							<span style="font-size: 12px;">Ngày tạo: @DateTime.Now.ToString("dd/MM/yy")</span>
						</div>
					</div>
					<div class="row">
						<div class="col-6">
							<input asp-for="Id" id="IdSeason" class="d-none" />
							<div class="py-2">Tên mùa vụ: <span style="color: red;">*</span></div>
							<input type="text" asp-for="Name" class="form-control" placeholder="Vd: vụ đông xuân 2025" />
							<span asp-validation-for="Name" id="NameError" class="text-danger"></span>
						</div>
						<div class="col-6">
							<div class="py-2">Mật lượng tôm nuôi con/vuông: </div>
							<input type="text" asp-for="Density" class="form-control" placeholder="vd: 2000" />
							<span asp-validation-for="Density" class="text-danger"></span>
						</div>
						<div class="col-6">
							<div class="py-2">Ngày bắt đầu: </div>
							<input type="datetime" asp-for="StartDate" readonly value="@DateTime.Now.ToString("dd/MM/yyyy")" class="form-control" />
							<span asp-validation-for="StartDate"  class="text-danger"></span>
						</div>
						<div class="col-6">
							<div class="py-2">Ngày dự kiến kết thúc: </div>
							<input type="date" asp-for="EndDate" class="form-control" min="@DateTime.Now.ToString("yyyy-MM-dd")" />
							<span asp-validation-for="EndDate" class="text-danger"></span>
						</div>
						<div class="col-12">
							<div class="py-2">Mô tả: </div>
							<textarea class="form-control" asp-for="Desc" rows="4" height="80px"></textarea>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="CloseModalCreateSeason()">Hủy</button>
					<button type="submit" class="btn btn-primary">Thêm</button>
				</div>
			</form>
		</div>
	</div>
</div>
<script type="text/javascript">
	function CloseModalCreateSeason() {
		$('#CreateSeason').modal('hide');
	}

		// Hàm để mở modal
	function CreateSeason(id) {
		$('#CreateSeason').modal('show');
		$('#IdSeason').val(id);
	}



		// Hàm kiểm tra validate
	function validateForm(event) {
		let isValid = true;

		// Lấy giá trị của các trường
		let name = document.getElementById('Name').value.trim();

		// Kiểm tra trường 'Tên loại'
		if (name === "") {
			document.getElementById('NameError').innerText = "Thuộc tính là bắt buột.";
			isValid = false;
		} else {
			document.getElementById('NameError').innerText = "";
		}


		// Nếu không hợp lệ, ngừng submit form
		if (!isValid) {
			event.preventDefault();
		}
	}

	// Lắng nghe sự kiện submit của form
	document.getElementById('CreateSeasonForm').addEventListener('submit', validateForm);
</script>

