/*=================detail================*/
.chart-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
}

canvas {
    max-width: 100%;
    height: auto;
}

@media (min-width: 1200px) {
    .chart-container {
        grid-template-columns: repeat(3, 1fr); /* 3 biểu đồ mỗi hàng */
    }
}

@media (max-width: 1199px) and (min-width: 768px) {
    .chart-container {
        grid-template-columns: repeat(2, 1fr); /* 2 biểu đồ mỗi hàng */
    }
}

@media (max-width: 767px) {
    .chart-container {
        grid-template-columns: repeat(1, 1fr); /* 1 biểu đồ mỗi hàng */
    }
}