
<section class="breadcrumb-area pb-0">
	<div class="breadcrumb-area-bg" style="background-image: url(/assets-template/images/product-detail/149d5084711t53633l0.jpg); height: 270px"></div>
	<div class="container">
		<div class="row">
			<div class="col-xl-12">
				<div class="inner-content text-center" style="top: -80px">
					<div class="title">
						<div style="font-size: 35px; padding: 10px 0; color: white">Liên hệ với Shrimp.com</div>
					</div>
					<div class="breadcrumb-menu">
						<ul>
							<li><a asp-action="Index" asp-controller="Home">Trang chủ</a></li>
							<li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
							<li class="active">Liên hệ </li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

@await Component.InvokeAsync("Contact")


